<app-header/>
<main>
  <ul id="users">
    @for (user of users ; track user.id) {
      <li>
        <app-user [user] = "user" [selected]="user.id === lockUser" (select) = "onSelectUser($event)"></app-user>
      </li>
    }
    <!--舊版 for-->
<!--    <li *ngFor="let user of users">-->
<!--      <app-user [user] = "user" (select) = "onSelectUser($event)"></app-user>-->
<!--    </li>-->
  </ul>
  @if (lockUser) {
    <app-tasks [userId]="selectedUser.id"  [name] = "selectedUser.name" />
  } @else {
    <p>Please select a user.</p>
  }
    <!--舊版 if else-->
<!--  <app-task *ngIf="lockUser; else fallback"  [name] = "selectedUser!.name" />-->
<!--  <ng-template #fallback>-->
<!--    <p id="fallback">Please select a user.</p>-->
<!--  </ng-template>-->

</main>
